.menu {
    
    display: flex;
    justify-content: space-between;
   
    
}
ul{
    list-style-type: none;
}
.lista1{
    display: flex;
}
.lista1 li {
    padding: 0.3em;
}
.part1{
    display: flex;
    align-items: center;
}
.bottone1{
    background-color: blue;
    color: white;
    padding: 1rem;
    height: 30px;   
}
.inizio{
    background-color: aquamarine;
}
.centro1{
    max-width: 900px;    
    display:flex;
    margin: auto;
}
.title{
    max-width: 900px;
    margin:auto;
    font-size: 84px;
    display: flex;
    justify-items: center;
}
.img1{
    width: 110%;
    margin: auto;
}
.btn{
    color: white;
    background-color: blue;
    padding: 0.5rem;
    border: 0.5rem;
    width: 200px;
}
.immagine2{
   float:left;
   width: 60%;
}
.cont3{
    max-width: 900px;
    margin: auto;
}
.scln1{
    border: solid black 2px;
}
.cln1{
    border: solid black 2px;
}
.scln4{
    border: solid black 2px;
}
.cln4{
    border: solid black 2px;
}
.scln2{
    border: solid black 2px;
}
.cln2{
    border: solid black 2px;
}
.scln3{
    border: solid black 2px;
}
.cln3{
    border: solid black 2px;
}
.bigcolon{
    display:flex
}