.menu {
    
    display: flex;
    justify-content: space-between;
   
    
}
ul{
    
}
.lista1{
    display: flex;
}
.lista1 li {
    padding: 0.3em;
}
.part1{
    display: flex;
    align-items: center;
}
.bottone1{
    background-color: blue;
    color: white;
    padding: 1rem;
    height: 30px;   
}
.inizio{
    background-color: aquamarine;
}
.centro1{
    max-width: 900px;    
    display:flex;
    margin: auto;
}
.title{
    max-width: 900px;
    margin:auto;
    font-size: 84px;
    display: flex;
    justify-items: center;
}
.img1{
    width: 110%;
    margin: auto;
}
.btn{
    color: white;
    background-color: blue;
    padding: 0.5rem;
    border: 0.5rem;
    width: 200px;
    margin:auto;
}
.immagin2{
   width: 400px;
   
}
.cont3{
    max-width: 900px;
    margin: auto;
}
.scln1{
    border: solid black 2px;
    text-align: center;
}
.cln1{
    border:solid black 2px;

    size: 30%;
    margin: 2rem;
    margin-left: 0;
}
.scln4{
    border: solid black 2px;
    text-align: center;
    
}
.cln4{
    border: solid black 2px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 2rem;
    
}
.scln2{
    border: solid black 2px;
    text-align: center;
}
.cln2{
    border: solid black 2px;
    size: 30%;
    margin: 2rem;
}
.scln3{
    border: solid black 2px;
    text-align: center;
}
.cln3{
    border: solid black 2px;
    size: 30%;
    margin: 2rem;
    margin-right: 0;
}
.bigcolon{
    display:flex;
    max-width:900px;
    margin: auto;
}
.title2-radio{
    max-width: 900px;
    margin: auto;
}
.cln4-text{
    display:flex;
}
.strumento{
    
}
.blocco6{
    max-width: 900px;
    margin: auto;
}
.img5{
    max-width: 300px;
}
.domande{
    max-width: 900px;
    margin: auto;
    padding: 5rem;
}
.domande li{
    margin: 1.5rem;
}
footer{
    background-color: black;
    color: white;
}
.listafine li{
    list-style-type: none;
    margin: 0.5rem;   
}
.fine{
    display: flex;
    margin: auto;
}
.listafine{
    margin: 1rem;
}
.end{
    margin: 1rem;
    margin-bottom: 1rem;
}
.start{
    background-color: aquamarine;
    margin:auto;
    display: flex;
    max-width: 900px;
}
.porta{
    font-size:25px;
    padding:25px;

}
.gratis{
    padding: 80px;
}