.menu {
    
    display: flex;
    justify-content: space-between;
   
    
}
ul{
    list-style-type: none;
}
.lista1{
    display: flex;
}
.lista1 li {
    padding: 0.3em;
}
.part1{
    display: flex;
    align-items: center;
}
.bottone1{
    background-color: blue;
    padding: 1rem;
    height: 30px;
    
    
}
.inizio{
    background-color: aquamarine;
    
    
}
.centro1{
    max-width: 900px;    
    display:flex;
}
.title{
    max-width: 900px;
    margin:auto;
    font-size: 70px;
    display: flex;
    justify-items: center;
}
